#header {
  margin-top: 0;
}

#map {
  width: 100%;
  float: left;
  background: #f1f2ea;
  margin-right: -770px;
  margin-left: 50px;
}

#slider-vertical {
  height: 300px;
  margin-top: 150px;
  width: 10px;
  float: left;
}

#slider-label {
  
}

#table {
  width: 600px;
  height: 770px;
  float: right;
}

#footer {
  background: #d7dabd;
  clear: both; 
}

.nhpr_logo {
  color: #B21901;
  font-size: 36px;
  font-family: serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.sub-header {
  color: #B21901;
  font-size: 20px;
  font-family: serif;
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
}




#mapbg {
  fill: none; 
  fill-opacity: 0;
  pointer-events: all;
}


path {
 stroke: #000000;
 stroke-width: 0.25px;
 fill: none;
}

div.tooltip {
  color: #222; 
  font-size: 11px;
  font-family: sans-serif;
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: .86; 
  position: absolute;
}

body {
  font-family: arial;
  font-size: 8pt;
}

#table {
  font-family: arial;
  font-size: 8pt;
}

.town {
  fill: #CCCCCC;
  /*fill-opacity: 0;*/
  stroke: gray;
  stroke-width: .5px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}

.active {
  fill-opacity: 1.5;
}

.inactive {
  fill-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #424242;
  stroke-width: 1.2px;
}

.bold {
  font-weight: bold;
}