#mapbg {
  fill: none; 
  fill-opacity: 0;
  pointer-events: all;
}


path {
 stroke: #000000;
 stroke-width: 0.25px;
 fill: none;
}

div.tooltip {
  color: #222; 
  font-size: 11px;
  font-family: sans-serif;
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: .86; 
  position: absolute;
}

.town {
  fill: #CCCCCC;
  /*fill-opacity: 0;*/
  stroke: gray;
  stroke-width: .5px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}

.active {
  fill-opacity: 1.5;
}

.inactive {
  fill-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #424242;
  stroke-width: 1.2px;
}

.bold {
  font-weight: bold;
}